body {
      font-family: 'Segoe UI', sans-serif;
      background: #f9f9f9;
      padding: 40px;
      margin: 0;
    }
    .container {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
    }
    .card {
      margin-top: 50px;
      width: 350px;
      height: 550px;
      background: white;
      border: 0%;
      border-radius: none;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    .card:hover {
      transform: scale(1.02);
      background-color: rgb(244, 240, 240);
    }
    .image img {
      width: 120%;
      height: 250px;
      object-fit: cover;
    }
    .workout-type {
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      color: black;
    }
    .info {
      list-style: none;
      color: #333;
      font-weight: bold;
      padding: 10px;
    }
    .info-1 {
      list-style: none;
      color: #333;
      font-weight: bold;
      padding: 10px;
      margin-left: 25px;
    }
    .btn {
      margin-top: 10px;
      padding: 8px;
      text-decoration: none;
      display: inline-block;
      border-radius: 10px;
      border: none;
      background-color: black;
      color: white;
    }
    .btn:hover {
      transform: scale(1.02);
      background-color: white;
      color: black;
      box-shadow: 10px 6px 15px rgba(8, 7, 7, 0.1);
    }